:root {
    --clr-blue: rgb(4, 194, 194);

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
        Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    font-size: 0.875rem;
    background-color: var(--clr-blue);
    /*using varible for assigning values */
}

main {
    display: flex;
    justify-content:center;
    /* align-items: center; */

}

.container {
    width: 50vw;
    background-color: rgb(231, 148, 180);
}
.container h3 {
  margin-bottom: 2rem;
  font-size: 35px;
}
.person{}